# lazysite.conf - site configuration
# See https://lazysite.io/docs for reference

site_name: My Site
site_url: ${REQUEST_SCHEME}://${SERVER_NAME}

manager: enabled
manager_path: /manager

# Plugins - scripts that integrate with the manager plugin system
plugins:
  - cgi-bin/lazysite-processor.pl
  - tools/lazysite-audit.pl
  - cgi-bin/lazysite-form-smtp.pl
  - cgi-bin/lazysite-form-handler.pl
  - cgi-bin/lazysite-auth.pl
  - lazysite-log.pl
