# lazysite demo users - copy to 'users' to enable auth
# Format: username:sha256hex(password)
# Generate a hash: echo -n 'password' | sha256sum | cut -d' ' -f1
demo:2a97516c354b68848cdbd8f54a226a0a55b21ed138e207ad6c5cbb9c00aa5aea
